:root {
  /* color */
  --clr-green:hsl(75, 94%, 57%);
  --clr-white: hsl(0, 0%, 100%);
  --clr-grey:hsl(0, 0%, 20%);
  --clr-dark-grey: hsl(0, 0%, 12%);
  --clr-black:hsl(0, 0%, 8%);

  /* font-weights */
  --fw-regular: 400;
  --fw-semi-bold: 600;
  --fw-bold: 700;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
  background: var(--clr-black);
  color: var(--clr-white);
}

body p{
  font-size: 14px;
}




.attribution { 
  font-size: 11px; 
  text-align: center; 
}

.attribution a { 
  color: hsl(228, 45%, 44%); 
}